<li>
	<%= render "shared/avatar_display", user: user, width: 80 %>	

	<%= link_to user.name, user %>

	<% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "delete", destroy_user_path(user) %>
	<% end %>
</li>