@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: 	 border-box;
	-webkit-box-sizing:  border-box;
	box-sizing:			 border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

input, textarea, select, .uneditable_input, .btn-register{
	// border-bottom: 1px solid #000;
	width: 100%;
	margin-bottom: 30px;	
	@include box_sizing;
}

// зачем нужен этот стиль?
input{
	height: auto !important;
}

$red: #f00;

#error_explanation{
	color: $red;
	ul{
		color: $red;
		margin: 0, 0, 30px, 0;
	}
}


//////////// dropdown menu

li {
 display: block;
 transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

//////////// check_box

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}
#session_remember_me {
	width: auto;
	margin-left: 0;
}

.gravatar_edit{
	margin: 20px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  img{
  	border-right: 3px solid #000;
  }
  a{
  	text-decoration: none;
  	color: #000;
  	margin: 10px;
  	font-size: 32px;
  }
  li {
  	margin: 5px;
  	border: 3px solid #000;
    overflow: auto;
    // padding: 10px 0;
    // border-bottom: 1px solid $gray-lighter;
  }
}
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
    text-decoration: none;
    color: #000;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
