<%= stylesheet_link_tag '_footer' %>

<footer class="footer">
	<small>
		How <a href="https://www.javatpoint.com/how-to-change-image-size-in-css"> to change image size in CSS</a>
		next: <a href="https://www.javatpoint.com/how-to-change-link-color-in-css">How to change link color in CSS?</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "about", about_path%></li>
			<li><%= link_to "contact", contact_path%></li>
			<li><a href="https://news.google.com">news</a></li>
		</ul>
	</nav>
</footer>